{% extends 'BkstgCoreBundle::layout.html.twig' %}

{% block title %}Notice Board{% endblock %}

{% block description %}
  The notice board is this productions private area for communication between
  members. Any member can add posts and edit or delete their own posts, while
  admins can edit or delete all posts.
{% endblock %}

{% block content %}
  <div class="notice-board">
    {# new post form, has no parent #}
    <div class="media new-form-wrapper">
      {% include 'BkstgCoreBundle:Partials:form.html.twig' with { 'form': new_form, 'submit_value': 'Create new post' } only %}
    </div>

    {# now create post list #}
    <ul class="board-posts media-list">
      {% for post in posts %}
        <li class="media board-post-root">
          {% include 'BkstgNoticeBoardBundle:Post:post.html.twig' with { 'post': post } only %}
        </li>
      {% else %}
        <li>No one has posted to the notice board yet!</li>
      {% endfor %}
    </ul>

    {# render post paginator #}
    <div class="text-center">
      {{ knp_pagination_render(posts) }}
    </div>
  </div>
{% endblock %}
