{% trans_default_domain 'BkstgNoticeBoardBundle' %}
{% extends '@BkstgCore/layout.html.twig' %}
{% set page_title = 'Notice Board' %}
{% block content %}
  <p>
    <a class="btn btn-success" href="{{ url('bkstg_post_create', {'production_slug': production.slug}) }}">
      <i class="fa fa-plus"></i> {{ 'post.create_new'|trans }}
    </a>
  </p>

  {% for post in posts %}
    {% include '@BkstgNoticeBoard/Post/show.html.twig' with { 'post': post, 'production': production } only %}
  {% else %}
    <p>{{ 'board.no_posts'|trans({'%create_url%': url('bkstg_post_create', {'production_slug': production.slug})})|raw }}</p>
  {% endfor %}
  {{ knp_pagination_render(posts) }}
{% endblock %}
