{% embed '@BkstgSearch/Search/_search_result.html.twig' with {'link': url('bkstg_board_show', {'production_slug': result.groups[0].slug})} %}
  {% trans_default_domain 'BkstgNoticeBoardBundle' %}
  {% block result %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ result.groups[0].name }}</li>
    </ol>
    {% include '@BkstgNoticeBoard/Post/_show.html.twig' with { 'post': result, 'production': result.groups[0], 'show_actions': false } %}
  {% endblock %}
{% endembed %}

