{% set profile = profile(post.author) %}
<div class="container-fluid">
  <div class="row">
    <div class="col-1">
      {% media profile.image, 'small' with {'class': 'img-fluid rounded-circle'} %}
    </div>
    <div class="col-11">
      {{ post.body|raw }}
      <p><small>{{ 'Posted %date% by %author%'|trans({'%date%': post.created|time_diff, '%author%': profile.name}) }}</small></p>
      {% if post.children is not empty %}
        {% for child in post.children %}
          {% include '@BkstgNoticeBoard/Post/show.html.twig' with { 'post':child } only %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
