{% extends sonata_block.templates.block_base %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block block %}
  {% set action = url('bkstg_post_create', {'production_slug': production.slug}) %}
  {{ form_start(form, {'action': action }) }}
    {{ form_widget(form.body, { 'id': 'bkstg_post_reply_' ~ settings.parent.id }) }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">{{ 'Submit'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
